.about-us-s1-content {
  display: flex;
  gap: 0.3rem;
  align-items: flex-start;
}

.about-us-s1 .about-us-s1-nav{
  width: fit-content;
  margin-top: 0.3rem;
}
@media (max-width: 768px) {
  .about-us-s1 .about-us-s1-nav{
    padding: 0.23rem 0.12rem;
    background-color: #eeeeee91;
  }
}
.about-us-s1-content-title-p1 {
  font-size: var(--font-size-48);
  font-family: var(--font-bold);
  color: #222;
  line-height: 1.2;
}
.about-us-s1-content-title-p2 {
  font-size: var(--font-size-18);
  font-family: var(--font-regular);
  color: #222;
  padding: 0.2rem 0;
}
.about-us-s1-content-title-btn {
  font-size: var(--font-size-18);
  font-family: var(--font-bold);
  color: #222;
  background-color: #ffdb00;
  border-radius: 23px;
  padding: 0.15rem 0.27rem;
  cursor: pointer;
  width: fit-content;
}
.about-us-s1-content-left{
  padding-top: max(1.9rem, 80px);
    flex: 0.7;
    align-self: stretch;
}
@media screen and (max-width: 768px) {
  .about-us-s1-content-left{
    padding-top: 0rem;
      flex: 1;
      align-self: stretch;
  }
  .about-us-s1-content-left{
  
      align-self: center;
  }
}
.about-us-s1-content-right{
  flex: 0.7;
}
.about-us-s1 {
  background-color: #fff;
  --width-half: calc(26.43vw / 2);
}
@media screen and (max-width: 1599px) {
  .product-s1 {
    --width-half: calc(20vw / 2);
  }
}
@media screen and (max-width: 1439px) {
  .product-s1 {
    --width-half: calc(10vw / 2);
  }
}
.about-us-s1-content-right-img{
  width: calc(100% + var(--width-half));
}
@media screen and (max-width: 768px) {
  .about-us-s1-content-right-img{
    width: auto;
  }
  .about-us-s1-content{
    flex-direction: column;
    /* padding-top: 0.6rem; */
  }
  .about-us-s1{
    margin-top: 2.3rem;
  }
  .about-us-s1-content-left{
    width: 90%;
  }
  .about-us-s1-content-title-btn{
    margin: 0.3rem;
  }
}
.act-word-top .spans {
  font-size: var(--font-size-72);
  font-family: var(--font-bold);
  color: #222;
  margin-bottom: 0.15rem;
  font-weight:900;
}
.act-word-top:hover .bot{
  color: #ffdb00;

}
.act-word-top:hover .spans {
  color: #ffdb00;
  }
.act-word-top:hover .act-word-bottom{
color: #ffdb00;
}
.act-word-bottom {
  font-size: var(--font-size-18);
  font-family: var(--font-medium);
  color: #222;
}
.bot{
    font-size: var(--font-size-18);
    font-family: var(--font-bold);
    color: #222;  
    font-weight:900;
}
.about-us-s2-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .about-us-s2-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2rem;
  text-align: center;

}
.about-us-s2{
padding:0.6rem 0;
}
}
.about-us-s2{
    padding:1rem 0;
    background-color: #fafafa;
    
}
@media screen and (max-width: 768px) {
.about-us-s2{
padding:0.6rem 0;
}
}
/* about轮播start */
/* .eve{
  position: relative;
  padding-bottom: 0.5rem;
} */
@media screen and (max-width: 768px) {
.eve{
  padding-bottom: 1rem;
}
}
.product-roll {
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.product-roll .swiper {
  overflow: visible;
}
.swiper_wpx {
  position: relative;
  width: 100%;
  height: auto;
}
.smalltitle-btn-two {
  z-index: 999;
  position: absolute;
  left: 20%;
  top: 55%;
  width: calc(40px + 0.5rem);
  aspect-ratio: 1 / 1;
  display: flex
;
  justify-content: center;
  align-items: center;
  background-color: #ffffff5b;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.swiper-wrapper {
  position: relative;
  height: auto;
}
.smalltitle-btn-two .left-two {
  margin-right: 0.24rem;
}
.eve img {
  position: relative;
}
.swiper_wpx .swiper-slide {
  display: flex
;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper_wpx .swiper-slide img {
  position: relative;
}
.swiper_wpx .swiper-slide img {
  object-fit: cover;
}
.swiper-slide img {
  width: 100%;
}
/* @media screen and (max-width: 768px) {
  .swiper-slide img {
   height: 200px;
  }
} */
.chinna {
  position: absolute;
  bottom: 0.6rem;
  left: 0.5rem;
  z-index: 1;
}

.eve .swiper-slide::after {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent, transparent, transparent);
}
.chinna .chinna-pone {
  font-family: var(--font-bold);
  font-size: var(--font-size-32);
  color: #fff;
  margin-bottom: 0.2rem;
}
.chinna .chinna-ptwo {
  font-family: var(--font-medium);
  font-size: var(--font-size-18);
  color: #fff;
  opacity: 0.64;
  margin-bottom: 0.2rem;

}
@media screen and (max-width: 768px) {
  .chinna{
  top: 50px;
    left: 0.2rem;
  }
  .chinna .chinna-pone{
    margin-bottom: 0;
    font-size: 16px;
  }
  .chinna .chinna-ptwo{
    margin-bottom: 0.2rem;
    font-size: 14px;
    line-height: 1.2;
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.zhuo{
  text-align: center;
  color: #222;
  font-family: var(--font-bold);
  font-size: var(--font-size-42);
  padding-bottom: 0.7rem;
}
/* about轮播end */
.index-s7{
  padding-bottom: 1rem;

}
@media screen and (max-width: 768px) {
  .index-s7{
    padding-bottom: 1rem;
  }
}
.product-roll .eve .swiper-pagination{
  z-index: 10;
}
