.contact-s1-container {
  position: relative;
}
.contact-s1-bg img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.contact-s1-content {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact-s1-title {
  font-size: var(--font-size-56);
  color: #fff;
  letter-spacing: 3px;
}
.contact-s1-title em {
  font-style: normal;
  background: -webkit-gradient(linear, left top, right top, from(#caadff), color-stop(#98beff), to(#ddffff));
  background: linear-gradient(to right, #caadff, #98beff, #ddffff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 0.15rem;
}
.contact-s1-subtitle {
  font-size: var(--font-size-33);
  color: #fff;
  margin-top: 0.3rem;
  font-family: var(--font-light);
}
@media (max-width: 768px) {
  .contact-s1 {
    height: auto;
    min-height: auto;
  }
  .contact-s1-bg {
    overflow: hidden;
    position: relative;
  }
  .contact-s1-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000002a;
    z-index: 0;
  }
  .contact-s1-bg img {
    -o-object-position: 68%;
    object-position: 68%;
    height: 60vh;
  }
}
/* contact-s2  */
.contact-s2 {
  position: relative;
}
.contact-s2-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/other/contact-s2-bg.png);
  /* background-attachment: fixed; */
  background-size: 100% 100%;
}
.contact-s2-bg::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000020;
  z-index: 1;
}
.contact-s2-bg img {
  width: 0;
  height: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.contact-s2-title {
  color: #fff;
  margin-bottom: 0.7rem;
}
.contact-s2-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem 0;
}
.contact-s2-item {
  padding: 0.45rem 0.7rem;
}

.contact-s2-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 0.34rem;
  position: relative;
  font-size: var(--font-size-28);
  margin-bottom: 0.4rem;
}
.contact-s2-item-title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;

  width: 1.4em;
  height: max(0.03rem, 3px);
  background-color: #fff;
  border-radius: 2px;
  opacity: 0.73;
}
.contact-s2-item-text {
  margin-bottom: 0.24rem;
}

.contact-s2-item-text.act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
}

.contact-s2-item-text.act > div {
  width: 1.8rem;
  min-width: 140px;
}
.contact-s2-item-title-zh {
  font-size: var(--font-size-30);
  color: #fff;
}
.contact-s2-item-title-en {
  font-size: var(--font-size-24);
  color: #fff;
  opacity: 0.8;
  font-family: var(--font-light);
}
.contact-s2-item-subtitle {
  font-size: var(--font-size-20);
  color: #fff;
  margin-bottom: 0.1rem;
}
.contact-s2-item-desc {
  color: #fff;
  opacity: 0.6;
  font-family: var(--font-light);
}
.contact-s2-item:nth-child(2n) {
  border-left: 1px solid rgba(255, 255, 255, 0.257);
  border-right: 1px solid rgba(255, 255, 255, 0.257);
}
@media (max-width: 768px) {
  .contact-s2-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-s2-item {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.257); */
    position: relative;
    border-right: none !important;
    border-left: none !important;
  }
  .contact-s2-item::after {
    position: absolute;
    content: '';
    width: calc(100% - 1.4rem);
    height: 1px;
    background-color: #ffffff;
    opacity: 0.1;
    left: 0.7rem;
    bottom: 0;
  }
  .contact-s2-item:last-child::after {
    display: none;
  }
  .contact-s2-item:last-child {
    border-bottom: none;
  }
  .contact-s2-item-title-zh {
    font-size: 18px;
  }
  .contact-s2-item-title-en {
    font-size: 16px;
  }
}
/* index-s5-text  */
.contact .index-s5-text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .contact .index-s5 {
    height: auto;
    min-height: auto;
  }
  .contact .index-s5-text {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .index-s5-layout {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/* hire-s2-title  */
.contact .hire-s2-title {
  margin-bottom: 0.6rem;
}

/* contact-s3 */
.contact-s3 {
  padding: 0.9rem 0;
  height: auto;
  min-height: auto;
}
.contact-s3-content {
  margin-top: 0.6rem;
}
.contact-s3-content .form {
  width: max(8rem, 50%);
  margin: auto;
}
.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.2rem 0.1rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.form-item input,
.form-item textarea {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.2rem 0.3rem;
  border-radius: max(5px, 0.1rem);
  border: 1px solid transparent;
  background-color: #f5f5f5;
  resize: unset;
}
.form-item input:focus::-webkit-input-placeholder,
.form-item textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form-item input:focus::-moz-placeholder,
.form-item textarea:focus::-moz-placeholder {
  opacity: 0;
}
.form-item input:focus:-ms-input-placeholder,
.form-item textarea:focus:-ms-input-placeholder {
  opacity: 0;
}
.form-item input:focus::-ms-input-placeholder,
.form-item textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
.form-item input:focus::placeholder,
.form-item textarea:focus::placeholder {
  opacity: 0;
}
.form-item input:focus,
.form-item textarea:focus {
  border-color: #dedede;
}
.form-btn {
  border: none;
  margin: 0.3rem 0;
}
.contact-s3-des {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #666;
  font-family: var(--font-light);
}
@media (max-width: 768px) {
  .contact-s3-content .form {
    width: 100%;
  }
  .form-item input {
    margin-bottom: 0.04rem;
  }
}
/* contact-s4 */
.contact-s4 {
  height: auto;
  min-height: auto;
  padding: 1.2rem 0;
  background-color: #fafafa;
}
.contact-s4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-s4-item-content p {
  margin-bottom: 0.2rem;
}
.contact-s4-title {
  margin-bottom: 0.6rem;
}
.contact-s4-item-title {
  margin-bottom: 0.3rem;
  font-size: var(--font-size-20);
}
.contact-s4-item-link-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}
.contact-s4-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.contact-s4-item-link:hover .footer-top-right-qr-img {
  display: block;
  z-index: 1;
}
.footer-top-right-qr-img img {
  border-radius: max(0.05rem, 5px);
}
.contact-s4-item-link span {
  color: #666;
}
.contact-s4-item-link-icon img {
  width: var(--font-size-24);
  height: var(--font-size-24);
  -webkit-filter: brightness(40%) contrast(60%);
  filter: brightness(40%) contrast(60%);
}
@media (min-width: 768px) {
  .contact-s4-item:nth-child(n + 2) {
    width: 2.9rem;
  }
  .contact-s4-item:last-child {
    width: unset;
    min-width: none;
  }
}
@media (max-width: 768px) {
  .contact-s4-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 0.6rem;
  }
  .contact-s4-item {
    min-width: 100%;
    /* border-bottom: 1px solid #eaeaea; */
  }
  .contact-s4-item-link-layout {
    margin-bottom: 0.2rem;
  }
}
