@media (max-width: 768px) {
  br {
    display: none;
  }
}
/* index-s1-start */
.index-s1 {
  position: relative;
}
.index-s1-bg img {
  min-height: 500px;
  object-fit: cover;
}
.index-s1-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: absolute;
  top: 20%;
  left: 10%;
}
.index-s1-title-one-bgc1 {
  position: relative;
  width: fit-content;
}
.index-s1-title-one0-bgc {
  position: absolute;
  top: 70%;
  width: 100%;
}
@media (max-width: 768px) {
  .index-s1-title-one0-bgc {
    display: none;
  }
}
.index-s1-title-one0-bgc img {
  width: 100%;
}
.index-s1-content-left-title .index-s1-title-one0 {
  margin-top: 0;
}
.index-s1-title-one {
  font-size: var(--font-size-48);
  font-family: var(--font-medium);
  line-height: 1.2;
  color: #ffdb00;
  margin-top: 0.38rem;
  width: 100%;
}
@media (max-width: 768px) {
  .index-s1-title-one {
    margin-top: -0.38rem;
  }
}
.index-s1-title-two {
  font-size: var(--font-size-18);
  font-family: var(--font-medium);
  line-height: 1.5;
  color: #fff;
  margin-top: 0.34rem;
}
.index-s1-title-three {
  position: relative;
  font-size: var(--font-size-30);
  font-family: var(--font-medium);
  line-height: 1.1;
  color: #ffdf00;
  margin-top: 0.34rem;
  margin-left: 0.12rem;
}
.index-s1-title-three-bgc1 {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .index-s1-title-three-image img {
    width: 20px;
    height: 20px;
  }
}
.index-s1-title-three::before {
  position: absolute;
  content: '';
  bottom: -0.03rem;
  left: 0;
  width: 100%;
  height: 0.01px;
  border-bottom: 1px solid #ffdf00;
}
.index-s1-title-three::after {
  position: absolute;
  content: '';
  bottom: -0.07rem;
  left: 0;
  width: 100%;
  height: 0.01px;
  border-bottom: 1px solid #ffdf00;
}
@media (max-width: 768px) {
  .index-s1-title-three::before {
    display: none;
  }
  .index-s1-title-three::after {
    display: none;
  }
}

.index-s1-title-four {
  background-color: #fff;
  border-radius: 30px;
  padding: 0.22rem 0.35rem;
  width: fit-content;
  margin-top: 0.44rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .index-s1-content {
    left: 5%;
    top: 80px;
    right: 5%;
    flex-wrap: wrap;
  }
  .index-s1-content-right {
    display: none;
  }
}
/* .index-s1-end */
.index-s2 {
  background-color: #ffffff;
  opacity: 0.93;
}
.index-s5 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcb2f;
}
.index-s2 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcb2f;
}
.index-s2-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}
.index-s2-title p {
  font-family: var(--font-bold);
  font-size: var(--font-size-42);
  color: #222;
}
/* .index-s2-content {
  display: flex;
} */
/* index s2 轮播 */
.index-s2-content-img .bottom-top-content {
  position: absolute;
  bottom: 70%;
  left: 0;
  padding: 0.3rem 5% 0.26rem;
  width: 100%;
  z-index: 1;
  color: #fff;
  transform: translateY(calc(100% - (0.56rem + var(--font-size-30))));
  transition: 0.4s;
}
@media (max-width: 768px) {
  .index-s2-content-img .bottom-top-content {
    bottom: 75%;
  }
}
@media (min-width: 768px) {
  .w1600 {
    margin: 0 auto;
  }

  .index-s2-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.16rem;
  }

  .index-s2-content-img .bottom-top-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.3rem 5% 0.26rem;
    width: 100%;
    z-index: -1;
    color: #fff;
    transform: translateY(100%);
    transition: 0.4s;
  }
  .index-s2-content-img:hover .bottom-top-content {
    z-index: 1;
    transform: none;
  }
}
.index-s2-content-img {
  position: relative;
  border-radius: max(0.1rem, 10px);
  overflow: hidden;
}
@media (max-width: 768px) {
  .index-s2-content-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}
.index-s2-content-yi2 {
  position: absolute;
  top: 86%;
  left: 5%;
  font-size: var(--font-size-30);
  font-family: var(--font-medium);
  color: #ffffff;
}

.bottom-top-content {
  width: 100%;
  position: absolute;
  bottom: -1rem;
  background: linear-gradient(to bottom, #767676, #292929);
  height: auto;
  cursor: pointer;
}
.bottom-top-content {
  /* position: absolute;
    bottom: 0; */
  left: 0;
  padding: 0.3rem 5% 0.26rem;
  /* width: 100%; */
  z-index: 1;
  color: #fff;
  transform: translateY(calc(100% - (0.56rem + var(--font-size-30))));
  transition: 0.6s;
}
/* .title-text {
  padding: 0.2rem;
} */
.title-text-one {
  font-size: var(--font-size-30);
  font-family: var(--font-bold);
  color: #ffdb00;
  margin: 0.17rem;
  display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
}
.title-text-two {
  font-family: var(--font-regular);
  font-size: var(--font-size-16);
  color: #fff8d4;
  margin-bottom: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.title-text-three {
  font-family: var(--font-bold);
  font-size: var(--font-size-18);
  color: #222222;
  padding: 0.2rem 0.3rem;
  background-color: #fff;
  border-radius: 30px;
  width: fit-content;
  cursor: pointer;
}

/* index s2 轮播 */

/* .index-s2-content-img {
  position: relative;
  border-radius: max(0.1rem, 10px);
  overflow: hidden;
} */

.index-s2-content-img2 {
  position: relative;
}

/* .index-s2-content-img img:hover.cv{
  display: block;
} */

/* .bottom-top-content.active{
  display: block;
}
.cv{
  display: none;
} */

/* @media (max-width: 768px) {
  .title-text{
    padding: 1.5rem 0.2rem;
  }
} */

.title-text span {
  /* padding: 0 0 0 20px; */
  font-size: var(--font-size-26);
  font-weight: 500;
  color: #fff;
  line-height: 1;
}
/* .index-s3-start */
.index-s3 {
  background-color: #fafafa;
}
.index-s3-content {
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #2d3649, #c1cde3);
  position: relative;
  border-radius: 0.1rem;
  padding: 0.33rem;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.index-s3-content-img {
  width: 595px;
  height: 550px;
}
.index-s3-content-text-one {
  font-size: var(--font-size-36);
  font-family: var(--font-bold);
  line-height: 1.4;
  color: #222;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.index-s3-content-text-one .sp {
  position: relative;
  display: inline-block;
}
.index-s3-content-text-one-img {
  position: absolute;
  top: 14%;
  z-index: -1;
}
.index-s3-content-text-one-img img {
  width: 95%;
}

.index-s3-content-text-three {
  margin-bottom: 0.2rem;
}
@media screen and (max-width: 768px) {
  .index-s3-content-text-three {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.17rem;
    margin-top: 0.3rem;
  }
}
.index-s3-content-text-three-two {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.1rem;
}

.index-s3-content-text-three-one {
  font-size: var(--font-size-18);
  font-family: var(--font-medium);
  color: #222222;
  margin-left: 0.17rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.index3-1 {
  display: flex;
  align-items: center;
}
.index3-1 img {
  width: 21px;
  height: 21px;
  min-width: 21px;
  min-height: 21px;
}
.index-s3-content-text-four {
  display: flex;
  align-items: center;
}
.index-s3-content-text-four-one {
  padding: max(0.2rem, 10px) max(0.4rem, 20px);
  background-color: #ffd700;
  border-radius: 40px;
  white-space: nowrap;
  cursor: pointer;
}
.uh:hover {
  background-color: #ffd700;
}
.index-s3-content-text-four-two {
  padding: max(0.2rem, 10px) max(0.4rem, 20px);
  background-color: #d1d1d1;
  border-radius: 30px;
  opacity: 0.65;
  margin-left: 0.22rem;
  white-space: nowrap;
}
.index-s3-content-text-four-two:hover {
  background-color: #ffd700;
  opacity: 1;
  cursor: pointer;
}
.index-s3-content-text-four-two:hover {
  background-color: #ffd700;
  opacity: 1;
}
.index-s3-content-text-four-two:hover .index-s3-content-text-four-one.active {
  background-color: #d1d1d1;
  opacity: 0.65;
}
.yxxc1 {
  margin-top: 40px;
  background-color: #fff;
  position: relative;
  border-radius: 0.1rem;
  padding: 0.33rem;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-s6-item img {
  cursor: pointer;
}
.index-s6-item-thumb img {
  cursor: pointer;
}
.index-s6-swiper-thumbs .swiper-slide-thumb-active .index-s6-item-thumb {
  /* box-shadow: 0px 0px 0px 2px #ffd700 inset; */
  border-color: #ffd700;
  z-index: 1;
}
.index-s6-swiper-thumbs .index-s6-item-thumb {
  border: 3px solid #d1d1d100;
  border-radius: 10px;
}
.index-s6-item-thumb img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .yxxc1 {
    margin-top: 0;
  }
}
/* .fd .fd-img {
  width: 398px;
  height: 375px;
  min-width: 300px;
  min-height: 300px;
} */
.tp-dw {
  width: 65%;
}
.tp-dw img {
  margin-bottom: 10%;
}
.tp-dw .moreBox {
  display: flex;
  justify-content: center;
}
.more-x {
  margin: 0;
  display: block;
  background: none;
  color: #e60043;
  font-weight: bold;
  width: auto;
}
.tp-dw img {
  margin-bottom: 10%;
}
.posa1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.yxxc1 .des {
  padding: 0 5% 2% 5%;
  flex: 1;
}
.yxxc1 .fd {
  position: relative;
  width: fit-content;
  /* width: 40%; */
}
.yxxc1 .fd .fd-img {
  width: 5.95rem;
  height: 5.5rem;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .yxxc1 .fd .fd-img {
    width: 100%;
    height: auto;
  }
}
.yxxc1 .des h5 {
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.icon-box1 {
  margin: 20px 0;
  border-radius: 10px;
  padding: 15px;
  background: rgb(255, 255, 255, 0.3);
}
.icon-box1 .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.icon-box1 .item .pbox {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: 0;
  display: flex;
  align-items: center;
}
.icon-box1 .item .pbox img {
  width: 80%;
  height: auto;
}
.icon-box1 .item .tit {
  font-size: 18px;
  color: #fff;
}
.yxxc1 .fd-des {
  margin: 20px 0;
}

.yxxc1 .fd-des p {
  font-size: 16px;
  background: url(../images/a7.png) no-repeat 0 8px;
  padding-left: 24px;
  line-height: 28px;
  margin-bottom: 5px;
  color: #fff;
  font-family: Gilroy-Regular;
  font-weight: normal;
}

.moreBox {
  display: flex;
}
.more-h {
  margin: 0;
  width: 168px;
  background: none;
  background-color: #e60043;
  font-weight: bold;
}
.more {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
  background-color: #183eff;
  border-radius: 32px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  padding: 6px 20px;
  -webkit-transition: all 0.8sease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8sease;
  border: 1px solid rgb(230 0 67);
}
.index-s3-content-text-four {
  margin-bottom: 0.1rem;
}
.index-s3-content-text-four-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-s3-content-text-four-one-text {
  font-family: var(--font-bold);
  font-size: var(--font-size-18);
  margin-right: 0.2rem;
  cursor: pointer;
}
.index-s3-content-text-four-one-image img{
  cursor: pointer;
}
.index-s3-content-text-four-one-image img {
  width: 25px;
  height: 25px;
}
@media (max-width: 768px) {
  .yxxc1 .fd {
    width: 100%;
  }
  .yxxc1 .fd-img {
    height: 160px;
  }
  .yxxc1 .fd.des {
    order: 1;
  }
  /* .index-s2-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  } */
  .index-s3-content-text-three-two {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.17rem;
    margin-top: 0.3rem;
  }
}
/* .index-s3-end */

/* .index-s4-start */
.index-s4 {
  background-color: #fafafa;
}
.index-s4-bgc {
  position: relative;
  padding-top: 0.7rem;
}
.index-s4-content {
  position: absolute;
  top: 30%;
  left: 35%;
}

@media (max-width: 1236px) {
  .index-s4-content {
    position: absolute;
    top: 25%;
    left: 40%;
  }
}
@media (max-width: 768px) {
  .index-s4 {
    padding: 0.6rem 0;
  }
  .index-s3-content-text-two,
  .index-s3-content-text-one {
    display: none;
  }
}
/* .index-s4-end */
.index-s5 {
  padding: 1rem 0;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .index-s5 {
    /* padding: 0; */
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .index-s3-content-text-two {
    margin-top: 0.2rem;
    margin-bottom: 0.35rem;
    font-size: var(--font-size-18);
    display: -webkit-box; /* 显示为弹性盒子模型 */
    -webkit-box-orient: vertical; /* 垂直排列子元素 */
    -webkit-line-clamp: 3; /* 限制显示的行数为3行 */
    overflow: hidden; /* 超出部分隐藏 */
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .index-s3-content-text-two p {
    font-size: var(--font-size-18);
    font-family: var(--font-medium);
    line-height: 1.5;
    color: #463300;
    opacity: 0.88;
    display: -webkit-box; /* 显示为弹性盒子模型 */
    -webkit-box-orient: vertical; /* 垂直排列子元素 */
    -webkit-line-clamp: 4; /* 限制显示的行数为3行 */
    overflow: hidden; /* 超出部分隐藏 */
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .index-s3-content-text-one .sp::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 100%;
    height: 50%;
    left: 0;
    background: #2222221c;
  }
  .index-s5-content-one {
    display: flex;
    flex-direction: column;
  }
  .index-s5-content-one-title {
    flex: 1;
  }
  .index-s5-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.24rem;
  }
  .index-s5-content-one-imge {
    overflow: hidden;
  }

  .index-s5-content-one-title {
    padding: 0.3rem 0.45rem;
    background-color: #fff;
  }
  .index-s5-content-one:hover .index-s5-content-one-title {
    background-color: #ffdf00;
    transition: all 0.5s ease-in-out;
    /* border-bottom: 5px solid #463300;
    border-radius: 20px; */
  }
  .index-s5-content-one-title::after {
    content: '';
    transition: all 0.5s;
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #ffcb2f;
  }
  .index-s5-content-one:hover .index-s5-content-one-title::after {
    height: 10px;
    border-radius: 0px 0px 10px 10px;
  }
  .index-s5-content-one-text {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
  }
  .index-s5-content .index-s3-content-text-one {
    font-size: var(--font-size-30);
  }
}

.index-s5-content-one-imge img {
  /* width: 6.85rem; */
  height: 2.97rem;
  object-fit: cover;
}

.index-s5-content-one-text img {
  width: 39px;
  height: 39px;
  margin-right: 0.2rem;
}
@media (max-width: 768px) {
  .index-s5-content-one-text img {
    width: 25px;
    height: 25px;
    margin-right: 0.2rem;
  }
}
.index-s5-content-one-title:nth-child(3) {
  background-image: url(../images/index/s5-7.png);
}

@media (max-width: 768px) {
  .index-s5-content-one-text {
    display: flex;
    align-items: end;
    padding-top: 0.5rem;
  }
  .index-s5-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .index-s5-content-one-text .index-s3-content-text-one {
    display: block;
  }
  .index-s5-content-one-title .index-s3-content-text-two {
    display: block;
  }
  .index-s6-title-img-shang {
    display: none;
  }
}
@media (max-width: 824px) {
  .index-s4-content {
    position: absolute;
    top: 10%;
    left: 40%;
  }
  .cf {
    padding: 0.1rem;
    margin-top: 0.85rem;
  }
  .index-s3-content-text-four-one-image img {
    width: 20px;
    height: 20px;
  }
}
/* index-s6  */
.index-s6 {
  padding-top: 1rem;
}
.index-s6-title {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-bottom: 1.1rem;
}
/* 左间距w1400 */
.index-s6-title-text {
  padding-left: 13.2vw;
}
@media screen and (max-width: 1599px) {
  .index-s6-title-text {
    padding-left: 10vw;
  }
}
@media screen and (max-width: 1439px) {
  .index-s6-title-text {
    padding-left: 5vw;
  }
}
/* 右间距  */
.index-s6-title-text:last-child {
  padding-left: 0;
  padding-right: 13.2vw;
}
@media screen and (max-width: 1599px) {
  .index-s6-title-text:last-child {
    padding-left: 0;
    padding-right: 10vw;
  }
}
@media screen and (max-width: 1439px) {
  .index-s6-title-text:last-child {
    padding-left: 0;
    padding-right: 5vw;
  }
}
@media (max-width: 768px) {
  .index-s6-title-text {
    padding: 0.2rem 5% !important;
  }
}
/* 左间距w1400  end  */
@media (max-width: 768px) {
  .index-s6-title {
    padding-bottom: 0;
  }
  .index-s6 {
    padding-top: 0.25rem;
  }
}
.index-s6-title-img-xia {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-s6-title-text-one {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  color: #222;
  margin-bottom: 0.42rem;
}
@media (max-width: 768px) {
  .index-s6-title-text-one {
    margin: 0.2rem 0;
  }
}
.index-s6-title-text {
  margin-right: 0.4rem;
  width: 48.5%;
}
.index-s6-title-text-layout {
  width: fit-content;
  margin-left: auto;
}
.index-s6-title-text .index-6-yellow {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  color: #ffdf00;
}
.index-s6-title-text-two {
  font-size: var(--font-size-18);
  font-family: var(--font-medium);
  line-height: 1.5;
  margin-bottom: 0.2rem;
}
.index-s6-title-text-three {
  font-size: var(--font-size-18);
  font-family: var(--font-medium);
  line-height: 1.5;
  margin-bottom: 0.54rem;
}
.index-s6-title-btn {
  font-size: var(--font-size-18);
  color: #222;
  font-family: var(--font-bold);
  background-color: #ffdf00;
  border-radius: 30px;
  padding: 0.2rem 0.31rem;
  width: fit-content;
  cursor: pointer;
}
.index-s6-title-thrid {
  justify-content: left;
}
.index-s6-title-text-thrid {
  margin-left: 1rem;
}

.index-s6-title-imge {
  width: 51.5%;
  overflow: hidden;
  cursor: pointer;
}

/* 首页轮播按钮样式 */
.index-s6-2-title-imge {
  width: 51.5%;
  overflow: hidden;
}
.index-s6-2-title-imge .swiper-button-prev {
  color: #ffdb00;
  border-radius: 30px;
  padding: 0.2rem;
  background-color: #fafafa7a;
}
.index-s6-2-title-imge .swiper-button-prev::after {
  font-size: 14px;
}

.index-s6-2-title-imge .swiper-button-next {
  color: #ffdb00;
  border-radius: 30px;
  padding: 0.2rem;
  background-color: #fafafa7a;
}
.index-s6-2-title-imge .swiper-button-next::after {
  font-size: 14px;
}
.index-s6-swiper {
  margin-bottom: max(18px, 0.18rem);
  position: relative;
}
/* 首页轮播按钮样式 */
@media (max-width: 768px) {
  .index-s6-title {
    flex-wrap: wrap;
  }
  .index-s6-title-text {
    min-width: 100%;
    margin: 0 0 0.6rem 0;
    padding: 0 5%;
  }
  .index-s6-title-imge {
    min-width: 100%;
  }
}
/* index-s7-start*/
.index-s7 {
  padding-bottom: 1rem;
}
/* @media (max-width: 768px) {
  .index-s7 {
    padding: 0.5rem 0;
  }
} */
.index-s7-title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.index-s7-title-img {
  position: absolute;
  top: 55%;
  left: 0;
  z-index: -3;
}
@media (max-width: 768px) {
  .index-s7-title-img {
    left: 0;
  }
}
.index-s7-content {
  text-align: center;
}
.index-s7-title-text-one {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  color: #222;
  /* margin-bottom: 0.16rem; */
  width: 100%;
}
.index-s7-title-img {
  position: absolute;
  top: 55%;
  width: 100%;
  left: 0;
  z-index: -3;
}
.index-s7-title-text-two {
  font-size: var(--font-size-16);
  font-family: var(--font-medium);
  line-height: 1.5;
  margin-bottom: 0.36rem;
}
.alg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.27rem;
}
@media (max-width: 768px) {
  .alg {
    display: none;
  }
}
.alg img {
  width: 240px;
  height: 351px;
}
.index-s7-img-two {
  margin: 0.34rem 0;
}
/* index-s7-end*/
/* index-s8  */
.index-s8 {
  padding: 1.2rem 0;
  background-color: #f8f8f8;
}
.index-s8-swiper {
  overflow: hidden;
}
.index-s8-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.index-s8-content-title p {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  text-align: center;
  color: #222;
  padding-bottom: 0.7rem;
}
.index-s8-content-images {
  display: flex;
  gap: 0.15rem;
}
.index-s8-content-two-title {
  text-align: center;
  padding-top: 1rem;
}
.index-s8-content-two-title p {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  color: #222;
  margin-bottom: 0.42rem;
}
.index-s8-yellow {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  color: #ffdf00;
}
.index-s8-content-two-title-line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  margin-bottom: 0.4rem;
}
.index-s8-content-two-title-line-one {
  background-color: #ffffff;
  border-radius: 10px;
  width: fit-content;
  padding: 0.57rem 0.12rem 0.79rem 0.24rem;
}
.index-s8-content-two-title-line-one-shang {
  display: flex;
  align-items: center;
}
.index-s8-content-shang-title {
  margin-left: 0.2rem;
}
.index-s8-content-shang-title-image {
  display: flex;
  align-items: center;
}

.index-s8-content-shang-title-itrou {
  display: flex;
  align-items: baseline;
}
.index-s8-content-two-title-line-one-center p {
  padding-bottom: 0.28rem;
}
.index-s8-content-two-title-line-two-vido {
  display: flex;
  gap: 0.3rem;
}
.index-s8-content-two-title-line-two-vido-img {
  background-color: #fff;
  padding: 0.1rem 0.2rem;
}
.index-s8-content-two-title-line-two-vido-img img {
  cursor: pointer;
}
@media (max-width: 768px) {
  .index-s8-content-two-title-line {
    grid-template-columns: repeat(1, 1fr);
  }
  .index-s8-content-shang-title-image img {
    width: 18px;
    height: 18px;
  }
  .index-s8-content-shang-title-image {
    margin-left: 0.2rem;
  }
  .index-s8-content-two-title-line-two-vido {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
/* index-s9  */
.index-s9-bgc {
  position: relative;
}
.index-s9-bgc-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.index-s9-bgc-text-one {
  font-size: var(--font-size-48);
  font-family: var(--font-bold);
  color: #fff;
  margin-bottom: 0.2rem;
}
.index-s9-bgc-text-two {
  font-size: var(--font-size-18);
  font-family: var(--font-medium);
  color: #fff;
  margin-bottom: 0.2rem;
}
.index-s9-bgc-text-three {
  font-size: var(--font-size-18);
  font-family: var(--font-bold);
  color: #222;
  background-color: #ffcb2f;
  border-radius: 30px;
  padding: 0.21rem 0.25rem;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .index-s9-bgc-text {
    top: 5%;
    left: 0;
  }
  .index-s9-bg {
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 1210px) {
  .index-s9-bgc-text {
    left: 0;
  }
}
/* index-s10  */
.index-s10 {
  padding-bottom: 0.5rem;
  background-color: #f2f2f2;
}
.index-10-cation {
  font-size: var(--font-size-42);
  font-family: var(--font-bold);
  text-align: center;
  padding-top: 0.85rem;
  padding-bottom: 0.75rem;
  color: #222;
}
.index-s10-content {
  display: flex;
  gap: 0.61rem;
}
.index-s10-content-left-text-two {
  display: flex;
  align-items: center;
}
.index-s10-content-right-one {
  display: flex;
  justify-content: space-between;
  /* margin-left: 0.69rem; */
  padding-bottom: 0.26rem;
  margin-bottom: 0.26rem;
  border-bottom: 2px solid #66666636;
}
.index-s10-content-right-one-text {
  margin-right: 0.5rem;
  padding-top: 0.15rem;
  flex: 60%;
}
.index-s10-content-left-text-one {
  font-size: var(--font-size-16);
  font-family: var(--font-bold);
  color: #222;
  margin: 0.1rem 0;
}
.index-s10-content-left-text-one-2 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.index-s10-content-left-text-two {
  font-size: var(--font-size-16);
  font-family: var(--font-bold);
  color: #ffcb2f;
}
.index-s10-content-left-text-three {
  font-size: var(--font-size-16);
  font-family: var(--font-medium);
  color: #666;
  margin-top: 0.1rem;
}
@media (max-width: 768px) {
  .index-s10-content-left-text-four {
    padding-bottom: 0.7rem;
  }
}
.index-s10-content-left-text-four a:hover {
  display: block;
  background-color: #ffcb2f;
  cursor: pointer;
}
.fg {
  margin-bottom: 0.3rem;
}
.index-s10-content-left {
  padding-top: calc(20px + 0.1rem);
}
.index-s10-content-left-text-four a {
  display: block;
  font-size: var(--font-size-18);
  font-family: var(--font-regular);
  color: #222;
  padding: 0.1rem 0.6rem;
  border-radius: 27px;
  border: solid 1px #a2a2a2;
  text-align: center;
  width: fit-content;
}
.index-s10-content-left-text-two-img {
  margin-right: 0.1rem;
}
@media (min-width: 768px) {
  .index-s10-content-left {
    flex: 0.75;
  }
  .index-s10-content-right {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .index-s10-content {
    flex-wrap: wrap;
  }
  .index-s10-content-left {
    padding: 0;
    border-bottom: 2px solid #66666636;
  }
  .index-s10-content-right-one {
    flex-wrap: wrap;
    margin-bottom: 0.6rem;
  }
  .index-s10-content-right-one-text {
    margin: 0.4rem 0;
  }
  .index-s10-content-right-one-img {
    padding: 0;
    margin: 0.4rem auto;
    width: 100%;
    order: -1;
  }
}
/* index-s11  */
.index-s11 {
  background-color: #fafafa;
}

@media (max-width: 1852px) {
  .index-s1-content {
    top: 26%;
    left: 10%;
  }
  .index-s1-content-right-img img {
    width: 450px;
    height: 400px;
  }
  .bottom-top-content.active {
    display: block;
  }
  /* .index-s2-content-yi{
    display: none;
  } */
  .index-s2-content-yi2 {
    display: none;
  }
  .bottom-top-content {
    background: none;
  }

  /* .cv{
    display: block;
  } */
}
.swiper-index-1 {
  overflow: hidden;
}
.swiper-index-2 {
  overflow: hidden;
  padding: 0 5%;
}
/* .swiper-index-3 {
  overflow: hidden;
} */
