.why-choose-s1{
    padding-top:2rem;
    background-color: #fafafa;
}
.why-choose-s1-title{
    font-size: var(--font-size-48);
    font-family: var(--font-bold);
    color: #222;
    line-height: 1.2;
}
.why-choose-s1-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .why-choose-s1-content{
        flex-direction: column;
        padding-bottom: 0.3rem;
    }
    .why-choose-s1-content{
        align-items: baseline;
    }
    .why-choose-s1{
        padding-top: 2.3rem;
        background-color: #eeeeee91;
    }
}
.why-choose-s1-content-title{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    line-height: 1.4;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    width: 7.34rem;

}
@media (max-width: 768px) {
    .why-choose-s1-content-title{
       font-family: var(--font-regular);
       width: 100%;
    }
}
.why-choose-s1-content-title span{
    font-size: var(--font-size-18);
    font-family: var(--font-bold);
    color: #ffe300;
    line-height: 1.4;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}
.why-choose-s1-content-btn{
    font-size: var(--font-size-18);
    font-family: var(--font-bold);
    color: #222;
    background-color: #ffdb00;
	border-radius: 23px;
    padding:0.15rem 0.2rem ;
    cursor: pointer;
    width: fit-content;
}
.about-us-s2-content{
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
}
.swiper-index-4{
    /* position: relative;
    padding-bottom: 2.5rem; */
    overflow: hidden;
}
.why-choose-s3  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffcb2f;
  }
.why-choose-s3-content-text-img{
overflow: hidden;
}
.why-choose-s3-content-text:hover .why-choose-s3-content-text-img img{
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .why-choose-s3-content-text-content{
        font-size: var(--font-size-18);
        font-family: var(--font-regular);
        color: #222;
        line-height: 1.4;
        white-space: normal;
    }
}
.why-choose-s3-box-text{
    position: relative;
    text-align: center;
    font-size: var(--font-size-42);
    font-family: var(--font-bold);
    color: #222;
    z-index: 1;
}
.why-choose-s3-box-img{
    position: absolute;
    top: 60%;
    left: 30%;
    width: max(5.35rem, 335px);
    height: max(0.19rem, 10px);
    background-color: #ffdf00;
    z-index: -1;
}
@media (max-width: 768px) {
    .why-choose-s3-box-img{
      display: none;
    }
}
.why-choose-s3-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
    padding-bottom: 0.7rem;
}
@media screen and (max-width: 768px) {
    .why-choose-s3-content{
        grid-template-columns: 1fr;
    }
}
/* .why-choose-s3{
    background-color: #fafafa;
    padding-bottom: 1rem;
} */
.why-choose-s3-box{
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
}
.why-choose-s4{
    padding-bottom: 1rem;
}
.why-choose-s4-box-content-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.why-choose-s4-box-text{
    font-size: var(--font-size-42);
    font-family: var(--font-bold);
    color: #222;
    padding: 1rem 0;
    text-align: center;
}
.why-choose-s4-box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
@media screen and (max-width: 768px) {
    .why-choose-s4-box-content{
        display: grid;
        grid-template-columns:  2fr 2fr;
        gap: 0.5rem 0.1rem;
    }
}
.why-choose-s4-box-content-text{
    font-size: var(--font-size-24);
    font-family: var(--font-regular);
    color: #222;
    padding-top: 0.3rem;
}
@media screen and (max-width: 768px) {
    .why-choose-s4-box-content-text{
        font-size: var(--font-size-14);
        font-family: var(--font-regular);
        color: #222;
        padding-top: 0.3rem;
    }
}
.why-choose-s4-box-content-img{
    background-color: #ffffff;
	border: solid 2px #222222;
    border-radius: 100%;
   width: max(0.98rem, 30px);
    height: max(0.98rem, 30px);
    padding: 0.28rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-choose-s4-box-content-img:hover{
    background-color: #ffdf00;
    /* transform: translateY(-0.1rem); */
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 10px #fff39b;
}

.why-choose-s4-box-content-img img{
    
    width:max(0.47rem, 18px);
    height:max(0.39rem, 18px);
}
.why-choose-s5{
background-color: #fafafa;
padding: 1.2rem 0;
}
.why-choose-s5-box-text{
    font-size: var(--font-size-42);
    font-family: var(--font-bold);
    color: #222;
    text-align: center;
}
.why-choose-s5-box-text2{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    
}
@media (max-width: 768px) {
    .why-choose-s5-box-text2{
        font-size: 14px;
        line-height: 1.2;
    }
}
.why-choose-s5-box-content-text{
    font-size: var(--font-size-24);
    font-family: var(--font-bold);
    color: #222;
    padding: 0.2rem 0;
}
.why-choose-s5-box-content-text2 p{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    line-height: 1.4;
}
.why-choose-s5-box-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.4rem;
}
.why-choose-s5-box-content-img{
overflow: hidden;
}
.why-choose-s5-box-content-box:hover .why-choose-s5-box-content-img img{
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {
    .why-choose-s5-box-content{
        grid-template-columns: repeat(1, 1fr);
    }
}
.why-choose-s6{
    background-color: #fff;
    padding-top: 1rem;
    position: relative;
    padding-bottom: 1.4rem;
}
.why-choose-s6-box-tltle{
    font-size: var(--font-size-42);
    font-family: var(--font-bold);
    color: #222;
    text-align: center;
 
}
.why-choose-s6-box-text{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    text-align: center;
    line-height: 1.5;
    padding: 0.25rem 0;
}

@media screen and (max-width: 768px) {
    .why-choose-s6-box-content{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* .why-choose-s1 四个格子 */
@media screen and (min-width: 768px) {
    .why-choose-s6-box-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.4rem;
    }
    .why-choose-s6-box-content-img{
        overflow: hidden;
    }
    .why-choose-s3-content-text-content{
        font-size: var(--font-size-18);
        font-family: var(--font-regular);
        color: #222;
        line-height: 1.4;
        white-space: nowrap;
    }
   
}
.why-choose-s3-content-text-title{
    font-size: var(--font-size-30);
    font-family: var(--font-bold);
    color: #222;
    padding: 0.2rem 0;
}
.why-choose-s3-content-text-content{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    line-height: 1.4;
    white-space: normal;
    display: -webkit-box;        /* 显示为弹性盒子模型 */
    -webkit-box-orient: vertical; /* 垂直排列子元素 */
    -webkit-line-clamp: 3;      /* 限制显示的行数为3行 */
    overflow: hidden;            /* 超出部分隐藏 */
    text-overflow: ellipsis;
}
/* .why-choose-s1 四个格子 */
.why-choose-s6-box-content-text:hover .why-choose-s6-box-content-img img{
    transform: scale(1.1);

}
.why-choose-s6-box-content-text2{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    line-height: 1.4;
    padding-top: 0.2rem;
    /* white-space: nowrap; */
}
@media screen and (max-width: 768px) {
    .why-choose-s6-box-content-text2{
        white-space: normal;
    }
    .why-choose-s6-box-content-text:hover .why-choose-s6-box-content-img img{
        transform: none;
    
    }
}
.product-roll{
background-color: #fafafa;
padding-top: 1rem;
padding-bottom: 1.4rem;
}
.why-choose-s7{
    background-color: #fafafa;
}
.why-choose-s7-box-title{
    position: relative;
    font-size: var(--font-size-42);
    font-family: var(--font-bold);
    color: #222;
    text-align: center;
}
.why-choose-s7-box-title-line{
    position: absolute;
    top: 60%;
    left: 31%;
    width: max(5.3rem, 435px);
    height: max(0.19rem, 10px);
    background-color: #ffdf00;
    z-index: -1;
}
@media screen and (max-width: 768px) {
    .why-choose-s7-box-title-line {
        position: absolute;
        top: 60%;
        left: 0;
        width: max(5.3rem, 335px);
        height: max(0.19rem, 10px);
        background-color: #ffdf00;
        z-index: -1;
    }
    br{
        display: none;
    }
}
.why-choose-s7-box-text{
    font-size: var(--font-size-18);
    font-family: var(--font-regular);
    color: #222;
    text-align: center;
    line-height: 1.5;
    padding-top: 0.15rem;
}
.chinna .chinna-pone{
    margin-bottom: 0.1rem;
}
.why-choose-s3 {
    position: relative;
    padding-bottom: 1rem;
}
.why-choose-s6 .why-choose-s3 {
    overflow: hidden;
}
.why-choose-s6  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffcb2f;
  }
.swiper-index-4 .swiper-pagination{
    position: relative;
    padding-bottom: 20px;
}