<!-- pc端导航 -->
<div id="header_pc" class="header">
  <div class="header-box">
    <div class="header-left">
      <a href="/" class="logo">
        <div class="header-logo-pc">
          <img src="static/images/index/s1-1.png" alt="ctmon" />
        </div>
        <div class="header-logo-h5">
          <img src="static/images/index/s1-1.png" alt="ctmon" />
        </div>
      </a>
    </div>

    <div class="header-center">
      <div class="header-center-content">
        <div class="header-center-content-icon">
          <img src="static/img/common/h5-nav.png" alt="ctmon" />
          <img src="static/img/common/h5-close-btn.png" alt="ctmon" />
        </div>
        <div class="header-center-content-status">
          <ul class="nav">
            <li class="on">
              <a href="index.html" class="nav-a">Home</a>
            </li>
            <li>
              <a href="JavaScript:viod(0);" class="nav-a">Product</a>
              <div class="pc_ul_nei_nav">
                <a class="pc_ul_nei_nav_a" href="fully-filling.html">Filling Machine</a>
                <a class="pc_ul_nei_nav_a" href="fully-capping.html">Capping Machine</a>
                <a class="pc_ul_nei_nav_a" href="product-list-fm14.html">Pre Roll Machine </a>
                <a class="pc_ul_nei_nav_a" href="accessories.html">Accessories </a>

              </div>
            </li>
            <li>
              <a href="#" class="nav-a">Support</a>
              <div class="pc_ul_nei_nav">
                <a class="pc_ul_nei_nav_a" href="faq.html">FAQ</a>
                <a class="pc_ul_nei_nav_a" href="support.html">After Sales Support</a>
                <a class="pc_ul_nei_nav_a" href="down.html">Resource Download</a>
              </div>
            </li>

            <li>
              <a href="#" class="nav-a">Business Information</a>
              <div class="pc_ul_nei_nav">
                <a class="pc_ul_nei_nav_a" href="contact.html">Contact Us</a>
                <a class="pc_ul_nei_nav_a" href="about-us.html">About Us</a>
                <a class="pc_ul_nei_nav_a" href="why.choose.html">Why Choose US</a>
                <a class="pc_ul_nei_nav_a" href="new.html">News</a>
                <a class="pc_ul_nei_nav_a" href="custom-service.html">Customer Case</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="header-right-phone">
        <div class="pop header-right-phone-btn">Contact Us</div>
          <div class="popupBox">
            <div class="poplist w1400">
              <div class="close iconfont icon-close">
                <div class="poplist-img"><img src="../static/images/index/tanc.png" alt=""></div>
            </div>
                <div class="popcont formBox scrollbar">
                    <div class="tyheadh tyheaddb">
                        <h3 class="tyhead-bt">Let's Build Your Product</h3>
                        <div class="tyhead-des">
                            <p>
                                Thank you for your interest in our products. Leave your email and message below to get the
                                detailed data sheet and we will respond to your requirements shortly.
                            </p>
                        </div>
                    </div>
                    <div class="ul contactForm2 ">
                        <div class="liBox flexlf flexace">
                            <div class="li">
                                <input type="text" name="name" class="input gbc2-name " placeholder="Name*" data-msg="Please enter your name！">
                            </div>
                            <div class="li">
                                <input type="text" name="tel" class="input gbc2-email" placeholder="Email*" data-msg="Please enter your email address！" required="true" aria-required="true">
                            </div>
                            <!-- <div class="li">
                                <div class="qh" title="Click to switch country and area codes">
                                    <div class="qhjsdy">
                                        <input type="hidden" class="gbc2-qh" value="+1">
                                        <p>+1</p>
                                        <ul class="qhlist"></ul>
                                    </div>
                                    <input type="text" name="tel" class="input gbc2-dh" placeholder="Telephone*" required="true" aria-required="true">
                                </div>
                            </div> -->
                            <div class="li">
                              <input type="text" name="tel" class="input gbc2-email" placeholder="Telephone*" data-msg="Please enter your email address！" required="true" aria-required="true">
                          </div>
                          </div>
                        <div class="liBox flexce flexace">
                            <button type="submit" class="sub more" id="gbc2">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
