<!-- pc端导航 -->
<div id="header_pc" class="header">
  <div class="header-box w5">
    <div class="header-left">
      <a href="index.html" class="logo">
        <div class="header-logo-pc">
          <img src="static/img/common/logo.png" alt="ctmon" />
        </div>
        <div class="header-logo-h5">
          <img src="static/img/common/logo-active.png" alt="ctmon" />
        </div>
      </a>
    </div>
    <div class="header-center">
      <div class="header-center-content">
        <div class="header-center-content-icon">
          <svg class="icon h5" viewBox="0 0 1024 1024" version="1.1" p-id="4195" width="16" height="16">
            <path
              d="M232.727273 81.035636l744.727273 0 0 42.263273-744.727273 0 0-42.263273Z"
              p-id="4196"
              fill="#515151"
            ></path>
            <path
              d="M46.545455 46.545455l93.090909 0 0 92.974545-93.090909 0 0-92.974545Z"
              p-id="4197"
              fill="#515151"
            ></path>
            <path
              d="M232.727273 490.868364l744.727273 0 0 42.263273-744.727273 0 0-42.263273Z"
              p-id="4198"
              fill="#515151"
            ></path>
            <path
              d="M46.545455 465.524364l93.090909 0 0 92.974545-93.090909 0 0-92.974545Z"
              p-id="4199"
              fill="#515151"
            ></path>
            <path
              d="M232.727273 899.118545l744.727273 0 0 42.263273-744.727273 0 0-42.263273Z"
              p-id="4200"
              fill="#515151"
            ></path>
            <path
              d="M46.545455 884.48l93.090909 0 0 92.974545-93.090909 0 0-92.974545Z"
              p-id="4201"
              fill="#515151"
            ></path>
          </svg>
          <svg class="icon h5" viewBox="0 0 1024 1024" version="1.1" p-id="4506" width="16" height="16">
            <path
              d="M500.512 468.288l313.76-313.76c13.312-13.28 34.944-13.248 48.32 0.128 13.472 13.472 13.44 35.008 0.128 48.32l-313.76 313.76 313.824 313.824c13.312 13.312 13.344 34.848-0.128 48.32-13.376 13.376-35.008 13.408-48.32 0.128l-313.824-313.824-313.824 313.824c-13.28 13.312-34.944 13.248-48.32-0.128-13.472-13.472-13.44-35.008-0.128-48.32l313.824-313.824-313.76-313.76c-13.312-13.312-13.344-34.848 0.128-48.32 13.376-13.376 35.008-13.408 48.32-0.128l313.76 313.76z"
              fill="#666666"
              p-id="4507"
            ></path>
          </svg>
          <!-- <img src="static/img/common/h5-nav.png" alt="ctmon" />
          <img src="static/img/common/h5-close-btn.png" alt="ctmon" /> -->
        </div>
        <div class="header-center-content-status">
          <ul class="nav">
            <li>
              <!-- class="on"  当前页面导航效果-->
              <a href="index.html" class="nav-a">首页</a>
            </li>
            <li>
              <!-- class="on"  当前页面导航效果-->
              <a href="product.html" class="nav-a">产品介绍</a>
            </li>

            <li>
              <a href="hire.html" class="nav-a">招贤纳士</a>
              <!-- 二级导航下拉包含h5端 -->
              <!-- <div class="pc_ul_nei_nav">
                <a class="pc_ul_nei_nav_a" href="custom.html">Aerospace</a>
                <a class="pc_ul_nei_nav_a" href="complete.html">Automotive Medical</a>
                <a class="pc_ul_nei_nav_a" href="surface.html">Medical Devices </a>
                <a class="pc_ul_nei_nav_a" href="screw.html">Robotics and Automation</a>
              </div> -->
              <!-- 二级导航下拉end -->
            </li>
            <li>
              <a href="contact.html" class="nav-a">关于我们</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-right">
      <a href="#" class="header-right-launguage launguage">EN</a>
    </div>
  </div>
</div>
